<div id="page_wrapper">
    <div id="profile_image">
         <%= image_tag 'profile.jpeg' %>
    </div>
    <div id="content">
        <h1>It's Mister Schtick Figure</h1>
        <p>Shoreditch cred raclette literally hammock aesthetic austin celiac. Kickstarter poke banh mi VHS, polaroid snackwave gastropub. Whatever iPhone food truck tofu vape activated charcoal crucifix pabst humblebrag kitsch +1 hexagon. Typewriter kitsch cornhole pitchfork cold-pressed, freegan kogi distillery af drinking vinegar sustainable whatever. Subway tile scenester street art man braid shoreditch, cronut narwhal mixtape. Bushwick austin truffaut, raw denim kombucha flannel thundercats ennui cornhole helvetica waistcoat. Viral freegan venmo four loko cronut</p>
    </div>

</div>